.userList {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.user {
  width: calc(20% - 20px);
  margin: 10px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .deleteButton {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    height: 40px;

    &:hover {
      background-color: darkred;
    }
  }

  .userDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .userInfo {
    margin-bottom: 10px;
  }
}

.userCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.createUserForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 395px;
  gap: 10px;

  input, button {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button {
    background-color: #007bff;
    color: white;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }
}

// Responsive Styles
@media (max-width: 1200px) {
  .user {
    width: calc(25% - 20px);
  }
}

@media (max-width: 992px) {
  .user {
    width: calc(33.33% - 20px);
  }
}

@media (max-width: 768px) {
  .user {
    width: calc(50% - 20px);
  }
}

@media (max-width: 576px) {
  .user {
    width: calc(100% - 20px);
  }

  .createUserForm {
    flex-direction: column; 
    margin-left: 0; 

    input, button {
      width: 90%; 
    }
  }
}
